[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  #
  # listselectionvalues:      selection values to recreate the current user
  #                           list.
  # editusers:                is viewing user member of editusers?
  # otheruser:                Bugzilla::User object of the viewed user.
  # reporter:                 number of bugs reported by the user
  # assignee_or_qa:           number of bugs the user is either the assignee
  #                           or the QA contact
  # bugs_activity:            number of bugs the viewed user has activity
  #                           entries on
  # cc                        number of bugs the viewed user is cc list member
  #                           of
  # flags.requestee:          number of flags the viewed user is being asked for
  # flags.setter:             number of flags the viewed user has set
  # longdescs:                number of bug comments the viewed user has written
  # namedqueries:             number of named queries the user has created
  # namedquery_group_map:     number of named queries the user has shared
  # profiles_activity:        number of changes made to other users' profiles
  # series:                   number of series the viewed user has created
  # votes:                    number of bugs the viewed user has voted on
  # watch.watched:            number of users the viewed user is being watched
  #                           by
  # watch.watcher:            number of users the viewed user is watching
  # whine_events:             number of whine events the viewed user has created
  # whine_schedules:          number of whine schedules the viewed user has
  #                           created
  #%]

[% title = BLOCK %]确认删除用户 [% otheruser.login FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css',
                'skins/standard/editusers.css']
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<table class="main">
  <tr>
    <th>登陆名：</th>
    <td>[% otheruser.login FILTER html %]</td>
  </tr>
  <tr>
    <th>真实姓名：</th>
    <td>[% otheruser.name FILTER html %]</td>
  </tr>
  <tr>
    <th>所在的组：</th>
    <td>
      [% IF otheruser.groups.size %]
        <ul>
          [% FOREACH group = otheruser.groups.keys %]
            <li>[% group FILTER html %]</li>
          [% END %]
        </ul>
      [% ELSE %]
        无
      [% END %]
    </td>
  </tr>
  [% IF otheruser.product_responsibilities.size %]
    <tr>
      <th>产品职责：</th>
      <td>
        [% PROCESS admin/users/responsibilities.html.tmpl otheruser = otheruser %]
      </td>
    </tr>
  [% END %]
</table>

[% IF otheruser.product_responsibilities.size %]
  <p>
    您现在不能删除此用户，是因为
    [%+ otheruser.login FILTER html %] 到少有一种产品的职责。
  </p>
  <p>
    [% IF user.in_group("editcomponents", component.product_id) %]
      可以通过以上编辑产品的链接修改其产品职责。
    [% ELSE %]
      现在您可以
    [% END %]
[% ELSE %]

  <h2>请确认</h2>

  [% display_warning = 0 %]

  [% IF reporter || bugs_activity || flags.setter || longdescs || profiles_activity %]
    <div class="criticalmessages">
      <p><b>强烈建议</b>不要作以下的删除，将会产生系统不一致的问题。</p>

      <ul>
        [% IF reporter %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailreporter1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">已经报告过
            [% IF reporter == 1 %]
              一个[% terms.bug %]。
            [% ELSE %]
              [%+ reporter %] [%+ terms.bugs %]。
            [% END %]</a>
            如果您删除此用户帐号，数据库记录将会不一致，从而导致
            [% IF reporter == 1 %]
              此[% terms.bug %]
            [% ELSE %]
              这些[% terms.bugs %]
            [% END %]
            不再显示在[% terms.bug %]列表中。
          </li>
        [% END %]
        [% IF bugs_activity %]
          <li>
            [% otheruser.login FILTER html %] 已经作出了
            [% IF bugs_activity == 1 %]
              [% terms.abug %]的修改。
            [% ELSE %]
              [% terms.bugs %]的修改。
            [% END %]
            如果您删除此用户帐号，数据库中记录的[% terms.bugs %]操作记录将会不一致，从而导致
            [% IF bugs_activity == 1 %]
              此修改
            [% ELSE %]
              这些修改
            [% END %]
            不再显示在[% terms.bug %]操作记录列表中。
          </li>
        [% END %]
        [% IF flags.setter %]
          <li>
            [% otheruser.login FILTER html %] has
            <a href="buglist.cgi?field0-0-0=setters.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">已经设置或请求
            [% IF flags.setter == 1 %]
              一个标记。
            [% ELSE %]
              [%+ flags.setter %] 标记。
            [% END %]</a>
            如果您删除此用户帐号，数据库中的标记(flags)表会不一致，从而导致
            [% IF flags.setter == 1 %]
              此标记
            [% ELSE %]
              这些标记
            [% END %]
            不再正常显示。
          </li>
        [% END %]
        [% IF longdescs %]
          <li>
            [% otheruser.login FILTER html %] has
            <a href="buglist.cgi?emaillongdesc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">已经评论过
            [% IF longdescs == 1 %]
              [% terms.abug %]一次。
            [% ELSE %]
              [% terms.bugs %][%+ longdescs %]次。
            [% END %]</a>
            如果您删除此用户帐号，数据库中的评论(comments)表将会不一致，从而导致
            [% IF longdescs == 1 %]
              此评论
            [% ELSE %]
              这些评论
            [% END %]
            不再可见。
          </li>
        [% END %]
        [% IF profiles_activity %]
          <li>
            [% otheruser.login FILTER html %] 已经修改过
            [% IF bugs_activity == 1 %]
              其它用户的配置。
            [% ELSE %]
              其它用户的配置。
            [% END %]
            如果您删除此用户帐号，数据库中的用户配置记录表将会不一致。
          </li>
        [% END %]
      </ul>
    </div>
    [% display_warning = 1 %]
  [% END %]

  [% IF assignee_or_qa || cc || email_setting || flags.requestee ||
        namedqueries || profile_setting || series || votes || watch.watched ||
        watch.watcher || whine_events || whine_schedules %]
    <div class="warningmessages">
      <p>以下的删除是<b>安全的</b>，不会产生系统不一致的问题。</p>

      <ul>
        [% IF assignee_or_qa %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailassigned_to1=1&amp;emailqa_contact1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">是
            [% IF assignee_or_qa == 1 %]
              一个[% terms.bug %]
            [% ELSE %]
              [%+ assignee_or_qa %] [%+ terms.bugs %]
            [% END %]</a>的责任人或QA联系人。
            如果您删除此用户帐号，这些角色将会返回到默认的责任人或QA联系人。 
          </li>
        [% END %]
        [% IF cc %]
          <li>
            [% otheruser.login FILTER html %]
            <a href="buglist.cgi?emailcc1=1&amp;emailtype1=exact&amp;email1=
               [%- otheruser.login FILTER url_quote %]">在
            [% IF cc == 1 %]
              [%+ terms.abug %]
            [% ELSE %]
              [%+ cc %] [%+ terms.bugs %]
            [% END %]</a>抄送列表中。
            如果您删除此用户帐号，它将会从抄送列表中移去。
          </li>
        [% END %]
        [% IF email_setting %]
          <li>
            此用户的邮件设置将会随着此用户的帐号的删除而删除。
          </li>
        [% END %]
        [% IF flags.requestee %]
          <li>
            [% otheruser.login FILTER html %] has been
            <a href="buglist.cgi?field0-0-0=requestees.login_name&amp;type0-0-0=equals&amp;value0-0-0=
               [%- otheruser.login FILTER url_quote %]">已请求设置
            [% IF flags.requestee == 1 %]
              一个标记。
            [% ELSE %]
              [% flags.requestee %] 标记。
            [% END %]</a>
            如果您删除此用户帐号，
            [% IF flags.requestee == 1 %]
              此标记
            [% ELSE %]
              这些标记
            [% END %]
            将没有明确的请求。
          </li>
        [% END %]
        [% IF namedqueries %]
          <li>
            [% otheruser.login FILTER html %] 有
            [% IF namedqueries == 1 %]
              一个 [% 'shared' IF namedquery_group_map %] 已存搜索。
            [% ELSE %]
              [%+ namedqueries FILTER html %] 已存搜索。
            [% END %]
            [% IF namedqueries == 1 %]
              此已存搜索
            [% ELSE %]
              这些已存搜索
            [% END %]
            将会随着此用户帐号的删除而删除。
            [% IF namedquery_group_map %]
              [% IF namedqueries > 1 %]
                相对这些，
                [% IF namedquery_group_map > 1 %]
                  [%+ namedquery_group_map FILTER html %] 被
                [% ELSE %]
                  被
                [% END %]
                共享。
              [% END %]
              其它用户不再可以使用
              [% IF namedquery_group_map > 1 %]
                这些共享的已存搜索
              [% ELSE %]
                此共享的已存搜索
              [% END %]
            [% END %]
          </li>
        [% END %]
        [% IF profile_setting %]
          <li>
            此用户的个人设置将会随着此用户帐号的删除而删除。
          </li>
        [% END %]
        [% IF series %]
          <li>
            [% otheruser.login FILTER html %] 已经创建了
            [% IF series == 1 %]
              一个序列
            [% ELSE %]
              [%+ series %] 序列
            [% END %].
            [% IF series == 1 %]
              此序列
            [% ELSE %]
              这些序列
            [% END %]
            将会随着此用户帐号的删除而删除。
          </li>
        [% END %]
        [% IF votes %]
          <li>
            [% otheruser.login FILTER html %] 已经投票给了
            [% IF votes == 1 %]
              [%+ terms.abug %]。
            [% ELSE %]
              [%+ votes %] [%+ terms.bugs %]。
            [% END %]
            如果您删除此用户帐号，
            [% IF votes == 1 %]
              此投票
            [% ELSE %]
              这些投票
            [% END %]
            将会随着此用户帐号的删除而删除。
          </li>
        [% END %]
        [% IF watch.watched || watch.watcher %]
          <li>
            [% otheruser.login FILTER html %]
            [% IF watch.watched %]
              正在被
              [% IF watch.watched == 1 %]
                一个用户
              [% ELSE %]
                [%+ watch.watched %] 用户
              [% END %]观察。
            [% END %]
            [% IF watch.watcher %]
              [%+ 'and' IF watch.watched %]
              正在观察
              [% IF watch.watcher == 1 %]
                一个用户。
              [% ELSE %]
                [%+ watch.watcher %] 用户。
              [% END %]
            [% END %]
            [% IF watch.watched + watch.watcher == 1 %]
              此观察
            [% ELSE %]
              这些观察
            [% END %]
            将会随着此用户帐号的删除而删除。
          </li>
        [% END %]
        [% IF whine_events || whine_schedules %]
          <li>
            [% otheruser.login FILTER html %]
            [% IF whine_events %]
              已经计划了
              [% IF whine_events == 1 %]
                一个订阅。
              [% ELSE %]
                [%+ whine_events %] 订阅。
              [% END %]
            [% END %]
            [% IF whine_schedules %]
              [%+ 'and' IF whine_events %]
              在
              [% IF whine_schedules == 1 %]
                一个订阅
              [% ELSE %]
                [%+ whine_schedules %] 订阅
              [% END %]的接收列表中。
            [% END %]
            [% IF whine_events + whine_schedules == 1 %]
              订阅
            [% ELSE %]
              订阅
            [% END %]
            将会随着此用户的删除而被删除。
          </li>
        [% END %]
      </ul>
    </div>
    [% display_warning = 1 %]
  [% END %]

  [% IF display_warning %]
    <p class="areyoureallyreallysure">
      请留意删除此用户帐号的后果。
    </p>
  [% END %]

  <p>您确实要删除此用户的帐号吗？</p>

  <form method="post" action="editusers.cgi">
    <p>
      <input type="submit" id="delete" value="删除"/>
      <input type="hidden" name="action" value="delete" />
      <input type="hidden" name="userid" value="[% otheruser.id %]" />
      <input type="hidden" name="token" value="[% token FILTER html %]">
      [% INCLUDE listselectionhiddenfields %]
    </p>
  </form>

  <p>如果您此时不想删除此用户，您可以
[% END %]

  <a href="editusers.cgi?action=edit&amp;userid=[% otheruser.id %]
           [% INCLUDE listselectionurlparams %]">编辑此用户</a>，
 <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">返回用户列表</a>，
  [% IF editusers %]
    <a href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">添加新用户</a>，
  [% END %]
  或<a href="editusers.cgi">搜索其它用户</a>。
</p>

[% PROCESS global/footer.html.tmpl %]
