[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Erik Stambaugh <erik@dasbistro.com>
  #                 Marc Schumann <wurblzap@gmail.com>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

<tr>
  <th><label for="data">文件</label>：</th>
  <td>
    <em>选择您电脑上要上传附件的文件名</em><br>
    <input type="file" id="data" name="data" size="50"
      [% IF Param("allow_attach_url") %]
        onchange="DataFieldHandler()" 
      [% END %]
    >
  </td>
</tr>
[% IF Param("maxlocalattachment") %]
<tr>
  <th>在文件：</th>
  <td>
    <input type="checkbox" id="bigfile"
           name="bigfile" value="bigfile">
    <label for="bigfile">
      大文件 - 保存在本地并可能会被删除
    </label>
  </td>
</tr>
[% END %]
[% IF Param("allow_attach_url") %]
<tr>
  <th><label for="attachurl">附件链接</label>：</th>
  <td>
    <em>仅提交附件的链接(URL)</em><br>
    <input type="text" id="attachurl" name="attachurl" size="60" 
           maxlength="2000"
           onkeyup="URLFieldHandler()" onblur="URLFieldHandler()">
  </td>
</tr>
[% END %]
<tr>
  <th><label for="description">描述</label>：</th>
  <td>
    <em>简要地描述一下附件</em><br>
    <input type="text" id="description" name="description" size="60" maxlength="200">
  </td>
</tr>
<tr>
  <th>附件类型：</th>
  <td>
    <em>如果附件是补丁，选中以下多选框。</em><br>
    <input type="checkbox" id="ispatch" name="ispatch" value="1"
           onchange="setContentTypeDisabledState(this.form);">
    <label for="ispatch">补丁</label><br><br>

    <em>否则，选择决定附件类型的方法</em><br>
    <input type="radio" id="autodetect"
           name="contenttypemethod" value="autodetect" checked="checked">
      <label for="autodetect">自动检测</label><br>
    <input type="radio" id="list"
           name="contenttypemethod" value="list">
      <label for="list">从列表中选择</label>:
      <select name="contenttypeselection" id="contenttypeselection"
              onchange="this.form.contenttypemethod[1].checked = true;">
        [% PROCESS "attachment/content-types.html.tmpl" %]
      </select><br>
    <input type="radio" id="manual"
                 name="contenttypemethod" value="manual">
      <label for="manual">手动输入</label>：
      <input type="text" name="contenttypeentry" id="contenttypeentry"
             size="30" maxlength="200"
             onchange="if (this.value) this.form.contenttypemethod[2].checked = true;">
  </td>
</tr>
<tr>
  <td> </td>
  <td>
    [% IF flag_types && flag_types.size > 0 %]
      [% PROCESS "flag/list.html.tmpl" bug_id=bugid attach_id=attachid %]<br>
    [% END %]
  </td>
</tr>
