[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  # gid: number. The group ID.
  # name: string. The name of the group.
  # description: string. The description of the group.
  # hasusers: boolean int. True if the group includes users in it.
  # hasbugs: boolean int. True if the group includes bugs in it.
  # hasproduct: boolean int. True if the group is binded to a product.
  # hasflags: boolean int. True if the group is used by a flag type.
  # shared_queries: int. Number of saved searches being shared with this group.
  # buglist: string. The list of bugs included in this group.
  #%]


[% PROCESS global/header.html.tmpl
  title = "删除组"
  doc_section = "groups.html"
%]

<table border="1">
  <tr>
    <th>ID</th>
    <th>组名</th>
    <th>描述</th>
  </tr>
  <tr>
    <td>[% gid FILTER html %]</td>
    <td>[% name FILTER html %]</td>
    <td>[% description FILTER html_light %]</td>
  </tr>
</table>

<form method="post" action="editgroups.cgi">
  [% IF hasusers %]
    <p><b>一个或多个用户属于此组，
    当组中存在用户时，您不能删除它。</b>

    <br><a href="editusers.cgi?action=list&groupid=[% gid FILTER html %]&grouprestrict=1">
    显示此组的用户</a> - <input type="checkbox" name="removeusers">
    移除此组中的所有用户</p>
  [% END %]

  [% IF hasbugs %]
    <p><b>一个或多个[% terms.bug %]仅对此组可见，
    当组中有任何[% terms.bugs %]时，您不能删除它。</b>

    <br><a href="buglist.cgi?bug_id=[% buglist FILTER html %]">
    显示此组中的[% terms.bugs %]</a> - <input type="checkbox" name="removebugs">
    移除此组中的所有[% terms.bugs %]组限制</p>

    <p><b>注意：</b>选中此复选框极有可能使私密的[% terms.bugs %]公开化。
    <B>强烈建议</B>您在选中此复选框前重新查看此组中的这些[% terms.bugs %]</p>
  [% END %]

  [% IF hasproduct %]
    <p><b>此组与产品 <U>[% name FILTER html %]</U> 绑定，
    当组绑定到一个产品时，您不能删除它。</b>

    <br><input type="checkbox" name="unbind">仍然删除此组，
    这将使产品 <U>[% name FILTER html %]</U> 公共可见。</p>
  [% END %]
  
  [% IF hasflags %]
    <p><b>此组限制了谁可以使用特定类型的标记。
    当有标记类型使用此组时，您不能删除它。</b>

    <br><a href="editflagtypes.cgi?action=list&group=[% gid FILTER html %]">
    显示此组中的标记</a> - <input type="checkbox" name="removeflags">
    删除使用此组的所有标记类型</p>
  [% END %]

  [% IF shared_queries %]
    <p>
      <b>有
      [% IF shared_queries > 1 %]
        [% shared_queries %] 已存搜索
      [% ELSE %]
        一个已存搜索
      [% END %]
     共享给此组。</b>
      如果您删除此组，
      [% IF shared_queries > 1 %]
        这些保存的搜索
      [% ELSE %]
        这个保存的搜索
      [% END %]
      将会返回到私有状态。
    </p>
  [% END %]

  <h2>请确认</h2>

  <p>您确实想删除此组吗？</p>
  [% IF (hasusers || hasbugs || hasproduct || hasflags) %]
    <p><b>您必须选中以上所有复选框或处理前纠正以上指示的问题。</b></p>
  [% END %]

  <p>
	  <input type="submit" id="delete" value="删除">
	  <input type="hidden" name="action" value="delete">
	  <input type="hidden" name="group" value="[% gid FILTER html %]">
	  <input type="hidden" name="token" value="[% token FILTER html %]">
	</p>
</form>

或返回到 <a href="editgroups.cgi">组列表</a>

[% PROCESS global/footer.html.tmpl %] 
