[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  # group: The Bugzilla::Group being modified.
  # regexp: string. The regexp according to which the removal was performed.
  # users: Array of Bugzilla::User objects who were removed from this group.
  #%]


[% PROCESS global/header.html.tmpl
           title = "删除直接成员关系" %]

<p><b>删除用户的[% IF regexp %] 正则表达式符合
  '[% regexp FILTER html %]' 的[% END %]直接成员关系...</b></p>
    
[% FOREACH user = users %]
  [% user.login FILTER html %] 已移除<br>
[% END %]

<p><b>完成</b>。</p>

<p>返回到 <a href="editgroups.cgi">组列表</a></p>

[% PROCESS global/footer.html.tmpl %] 
