[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  # Localization: jiangyanfeng <jiangyanfeng@gmail.com>
  #               CNBorn <CNBorn@gmail.com>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% DEFAULT title = "内部错误" %]

[% error_message = BLOCK %]
  [% IF    error == "action_unrecognized" %]
    [% docslinks = {'query.html' => "正在搜索$terms.bugs",
                    'query.html#list' => "$terms.Bug列表"} %]
    系统无法识别变量<em>action</em>的值(<em>[% action FILTER html %]</em>)
  
  [% ELSIF error == "attachment_already_obsolete" %]
    附件 #[% attach_id FILTER html %] ([% description FILTER html %]) 
    已经是废弃状态了。

  [% ELSIF error == "auth_invalid_email" %]
    [% title = "Email 地址无效" %]
    系统接收到的 Email 地址(<b>[% addr FILTER html %]</b>)
    没有通过 Email 地址合法性检查。
    当创建或更新您的帐号时，
    [% IF default %]
      一个合法的 Email 地址必须有一个“@”符号，
      并在“@”后至少有一个“.”符号。
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    同时不能包含任何特殊字符：
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>，或任何空格。

  [% ELSIF error == "authres_unhandled" %]
    登录返回代码[% value FILTER html %]验证处理错误。

  [% ELSIF error == "bad_page_cgi_id" %]
    [% title = "非法页面 ID" %]
    页面 ID <code>[% page_id FILTER html %]</code>不是一个有效的页面标识。

  [% ELSIF error == "bad_arg" %]
    传递给函数 <code>[% function FILTER html %]</code> 的参数 <code>[% argument FILTER html %]</code>错误。

  [% ELSIF error == "bug_error" %]
    在试图显示[% terms.bug %] [%+ bug.bug_id FILTER html %]时发生 
    错误 [% bug.error FILTER html %]。
    
  [% ELSIF error == "chart_data_not_generated" %]
    [% admindocslinks = {'extraconfig.html' => 'Setting up Charting'} %]
    [% IF product %]
      产品 <em>[% product FILTER html %]</em> 的图表不可用。
      因为自它创建后还没有收集任何图表数据。
    [% ELSE %]
      没有收集任何图表数据。
    [% END %]
    请等待一天并重新再试。
    如果您已经等待一天，请联系
    <a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a>
    并指出这个错误。

  [% ELSIF error == "chart_datafile_corrupt" %]
    图表数据文件 [% file FILTER html %] 已被毁坏。
        
  [% ELSIF error == "chart_dir_nonexistent" %]
    <tt>[% dir FILTER html %]</tt> 中的一个目录和 
    <tt>[% graphdir FILTER html %]</tt> 不存在。
  
  [% ELSIF error == "chart_file_open_fail" %]
    不能打开图表数据文件 <tt>[% filename FILTER html %]</tt>.
  
  [% ELSIF error == "chart_lines_not_installed" %]
    [% admindocslinks = {'installation.html#install-perlmodules' => '安装图表功能必需的Perl模块'} %]
    未安装Perl模块 Chart::Lines，不能显示图表。
    运行 checksetup.pl 显示安装指导。

  [% ELSIF error == "column_not_null_without_default" %]
    添加行 [% name FILTER html %] 失败：
    您不能向已存在表中添加没有默认值的非空列，
    除非您为 <code>$init_value</code> 参数指定值。

  [% ELSIF error == "column_not_null_no_default_alter" %]
    没有为 $set_nulls_to 指定默认值或其它值，
    您不能设置 [% name FILTER html %] 列为非空，
    因为当前其中已经有空值。

  [% ELSIF error == "db_rename_conflict" %]
    名称冲突：无法将 [% old FILTER html %] 重命名为
    [% new FILTER html %] 因为 [% new FILTER html %] 已存在。

  [% ELSIF error == "cookies_need_value" %]
    每个cookie都必须有一个值。

  [% ELSIF error == "env_no_email" %]
    [% terms.Bugzilla %] 无法从环境变量中获取 Email 地址。
    [% IF Param("auth_env_email") %]
      这意味着环境变量 '[% Param("auth_env_email") FILTER html %]'
      的值为空或不存在。
    [% ELSE %]
      您必须设置 "auth_env_email" 参数的值为包含用户 Email 地址的环境变量的值。
    [% END %]

  [% ELSIF error == "extension_invalid" %]
    在扩展 [% extension FILTER html %]: [% errstr FILTER html %]
    中处理系统挂钩 [% name FILTER html %] 时出现错误

  [% ELSIF error == "extern_id_conflict" %]
    外部 ID '[% extern_id FILTER html %]' 已在数据库中存在
    指定给用户 '[% username FILTER html %]', 但
    '[% extern_user FILTER html %]' 用户已拥有此ID.

  [% ELSIF error == "field_type_mismatch" %]
    无法在字段 <code>[% field FILTER html %]</code>
    中使用 <code>[% type FILTER html %]</code> 类型数据

  [% ELSIF error == "field_not_custom" %]
    '[% field.description FILTER html %]' ([% field.name FILTER html %])
    不是一个自定义字段。

  [% ELSIF error == "gd_not_installed" %]
    [% admindocslinks = {'installation.html#install-perlmodules' => '安装图表功能必需的Perl模块'} %]
    如未安装 GD Perl模块, 图表功能将不能正常使用
    请运行 checksetup.pl 获取安装指南

  [% ELSIF error == "illegal_content_type_method" %]
    表单提交由于种种原因造成损坏。但用于检测内容类型的<em>content
    method</em> 字段的值, 
    应该是 <em>autodetect</em>, <em>list</em>,
    或 <em>manual</em>, 但实际值却是
    <em>[% contenttypemethod FILTER html %]</em>.

  [% ELSIF error == "illegal_field" %]
    [% field FILTER html %] 设置无效

  [% ELSIF error == "inactive_group" %]
    尝试将 [% terms.bug %] 添加到 '[% name FILTER html %]'
    组中, 但该组不可用于 [% terms.bugs %]。

  [% ELSIF error == "invalid_attach_id_to_obsolete" %]
     您选择废弃的附件，附件号码
     [% attach_id FILTER html %] 无效
          
  [% ELSIF error == "invalid_column_name_cookie" %]
    [% title = "栏名称无效" %]
     表单中提交的自定义排序顺序中
     <em>[% fragment FILTER html %]</em> 栏名称无效
     cookie已被清空。
         
  [% ELSIF error == "invalid_column_name_form" %]
    [% title = "栏名称无效" %]
     表单中提交的自定义排序顺序中
     <em>[% fragment FILTER html %]</em> 栏名称无效

  [% ELSIF error == "invalid_customfield_type" %]
    [% title = "无效字段类型" %]
    <em>[% type FILTER html %]</em> 不是一个有效的字段类型

  [% ELSIF error == "invalid_dimensions" %]
    [% title = "尺寸无效" %]
    指定的宽度或者高度不是一个正整数

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "无效的标记关联" %]
    一些标记不属于
    [% IF attach_id %]
      附件: [% attach_id FILTER html %].
    [% ELSE %]
      [%+ terms.bug %]: [%+ bug_id FILTER html %].
    [% END %]

  [% ELSIF error == "invalid_series_id" %]
    [% title = "无效序列(Series)" %]
    series_id [% series_id FILTER html %] 无效，
    此序列(Series)可能已经被删除。

  [% ELSIF error == "invalid_webservergroup" %]
    没有此群组: [% group FILTER html %]. 请检查
    [% constants.bz_locations.localconfig FILTER html %] 中的
    $webservergroup 选项 

  [% ELSIF error == "mismatched_bug_ids_on_obsolete" %]
    附件 [% attach_id FILTER html %] ([% description FILTER html %]) 
    与 [% terms.bug %] [%+ attach_bug_id FILTER html %] 相关联, 
    在 [% terms.bug %] [%+ my_bug_id FILTER html %] 创建新附件
    会尝试将其标记为已废弃 

  [% ELSIF error == "flags_not_available" %]
    [% title = "不允许编辑标记" %]
    [% IF type == "b" %]
      同时改变一些 [% terms.bugs %] 时无法设置或改变标记
    [% ELSE %]
      创建新附件时对原有标记的指向无效
    [% END %] 

  [% ELSIF error == "flag_requestee_disabled" %]
    [% title = "对于特定用户该标记不可请求" %]
    无法要求指定人员
    <em>[% type.name FILTER html %]</em>.
  
  [% ELSIF error == "flag_status_invalid" %]
    标记状态 <em>[% status FILTER html %]</em>
    [% IF id %]
      ID #[% id FILTER html %]
    [% END %]
    无效

  [% ELSIF error == "flag_type_inactive" %]
    [% title = "非活动的标记类型" %]
    标记类型 [% type FILTER html %] 未非活动, 
    无法创建新标记

  [% ELSIF error == "flag_type_nonexistent" %]
    无对应此ID <em>[% id FILTER html %]</em>的标志类型

  [% ELSIF error == "flag_type_target_type_invalid" %]
    目标类型非所需的 <em>[% terms.bug %]</em> 或 <em>附件</em>,
    类型为<em>[% target_type FILTER html %]</em>.
  
  [% ELSIF error == "invalid_field_name" %]
    无法使用 [% field FILTER html %] 作为字段名称

  [% ELSIF error == "invalid_keyword_id" %]
    无法找到关键字 ID <em>[% id FILTER html %]</em>     

  [% ELSIF error == "invalid_user" %]
    [% title = "用户无效" %]
    通过
    [% IF user_id %]
      ID: <em>[% user_id FILTER html %]</em>.
    [% ELSIF user_login %]
      登录名: <em>[% user_login FILTER html %]</em>.
    [% ELSE %]
      无法找到相关的用户
    [% END %]

  [% ELSIF error == "ldap_bind_failed" %]
    无法绑定 LDAP 服务器, 错误信息如下: 
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_cannot_retreive_attr" %]
    指定的 LDAP 属性 [% attr FILTER html %] 未找到

  [% ELSIF error == "ldap_connect_failed" %]
    无法连接到 LDAP 服务器 <code>[% server FILTER html %]</code>.

  [% ELSIF error == "ldap_start_tls_failed" %]
    无法启动 LDAP 服务器上的TLS协议: <code>[% error FILTER html %]</code>.

  [% ELSIF error == "ldap_search_error" %]
    在LDAP中搜索 
    &quot;[% username FILTER html %]&quot; 时出现错误:
   <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_server_not_defined" %]
    用户认证用 LDAP server 未定义

  [% ELSIF error == "mail_send_error" %]
    邮件发送出现错误 from '[% mail.header('From') FILTER html %]'
    to '[% mail.header('To') FILTER html %]':
    [% msg FILTER html %]

  [% ELSIF error == "missing_bug_id" %]
    未指定 [% terms.bug %] ID
    
  [% ELSIF error == "missing_series_id" %]
    插入一个序列到数据库的同时, 没有返回 series_id
    。序列: [% series.category FILTER html %] / 
    [%+ series.subcategory FILTER html %] / 
    [%+ series.name FILTER html %].
    
  [% ELSIF error == "need_quipid" %]
    需要一个有效的 quipid 

  [% ELSIF error == "no_manual_moved" %]
    如果您不移动 [% terms.bug %]
    无法将解决图形 [% terms.abug %] 修改为 MOVED

  [% ELSIF error == "param_must_be_numeric" %]
    [% title = "参数无效" %]
    传至 [% function FILTER html %] 的参数无效
    参数值类型需为数值

  [% ELSIF error == "param_required" %]
    [% title = "缺少参数" %]
    参数未设置,
    函数需要 <code>[% function FILTER html %]</code> 
    <code>[% param FILTER html %]</code> 参数

  [% ELSIF error == "protection_violation" %]
    调用函数 <code>[% function FILTER html %]</code> 

    [% IF argument %]
        时使用了参数 <code>[% argument FILTER html %]</code>
    [% END %]

    调用者：
   
    [% IF caller %]
        <code>[%+ caller FILTER html %]</code>
    [% END %]

    位于包以外。该函数仅能被
    <code>[% superclass FILTER html %]</code>的一个子类调用.

  [% ELSIF error == "radius_preparation_error" %]
    在准备 RADIUS 认证请求时出现错误:
    <code>[% errstr FILTER html %]</code>.

  [% ELSIF error == "unknown_comparison_type" %]
    无法支持指定的比较类型

  [% ELSIF error == "request_queue_group_invalid" %]
    群组字段 <em>[% group FILTER html %]</em> 无效

  [% ELSIF error == "report_axis_invalid" %]
    报表
    [%+ IF    fld == "x" %]横轴
    [%+ ELSIF fld == "y" %]纵轴
    [%+ ELSIF fld == "z" %]多表格/图像
    [%+ ELSE %]一个报表轴[% END %] 字段
    的数值 <em>[% val FILTER html %]</em> 无效

  [% ELSIF error == "setting_info_invalid" %]
    要创建一个新选项，您需要提供选项名称,  
    一组对应的 数值/排序索引 数列, 以及默认参数值

  [% ELSIF error == "setting_name_invalid" %]
    选项名称: <em>[% name FILTER html %]</em> 不是一个有效的选项
    选项名称需以字母开头，名称中只可包含字母、数字或'_', '-', '.', 或 ':'符号

  [% ELSIF error == "setting_subclass_invalid" %]
    无此选项子类:
    <code>[% subclass FILTER html %]</code>.

  [% ELSIF error == "setting_value_invalid" %]
    选项值 "<code>[% value FILTER html %]</code>" 在
    <em>[% name FILTER html %]</em> 的合法选项值列表中不存在.

  [% ELSIF error == "soap_not_installed" %]
    [% admindocslinks = {'installation.html#install-perlmodules' => 'Installing Perl modules'} %]
    没有安装 SOAP::Lite Perl模块，无法使用 XMLRPC 接口
    请运行 checksetup.pl 查看安装指南

  [% ELSIF error == "token_generation_error" %]
    标识生成系统出现严重错误.

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "template_invalid" %]
    系统挂钩调用的模板使用了无效的文件名: [% name FILTER html %].

  [% ELSIF error == "unable_to_retrieve_password" %]
     无法从数据库中获得先前的密码

  [% ELSIF error == "undefined_field" %]
    表格 [% field FILTER html %] 字段没有定义
    
  [% ELSIF error == "unknown_action" %]
    [% IF action %]
       [% action FILTER html %] 未知动作!
    [% ELSE %]
       无法识别所要进行的操作
    [% END %]

  [% ELSIF error == "usage_mode_invalid" %]
    '[% invalid_usage_mode FILTER html %]' 不是一个有效的使用模式

  [% ELSIF error == "must_be_patch" %]
    [% title = "附件要求为补丁文件" %]
    附件 #[% attach_id FILTER html %] 必须是一个补丁文件(Patch).

  [% ELSIF error == "not_in_transaction" %]
    在未开始流程前场是结束流程.

  [% ELSIF error == "comma_operator_deprecated" %]
    [% title = "SQL 查询生成器内部错误" %]
    在SQL query generation code中出现内部错误,
    查询中包含隐性 JOIN 命令

  [% ELSIF error == "invalid_post_bug_submit_action" %]
    post_bug_submit_action 设置无效

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]
    [% IF NOT error_message %]
      [% title = "内部错误" %]
      出现一个内部错误, 但 [% terms.Bugzilla %] 无法识别
      如下错误代码： <code>[% error FILTER html %]</code>

      如果您是 [% terms.Bugzilla %] 的最终用户, 请保存此页面
      并将其发送至 [% Param('maintainer') %]
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<tt>
  <p>
    [% terms.Bugzilla %] 出现一个内部错误，请保存此页面并将其发送至
    [% Param("maintainer") %]，并附上您所进行的操作的详细说明。
  </p>
  <script type="text/javascript"> <!--
    document.write("<p>URL: " + 
                    document.location.href.replace(/&/g,"&amp;")
                                          .replace(/</g,"&lt;")
                                          .replace(/>/g,"&gt;") + "</p>");
  // -->
  </script>
</tt>

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

[% IF variables %]
  <pre>
Variables:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
