[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  # Localization: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  # voting_user: hash containing a 'login' field
  #
  # products: list of hashes containing details of products relating to
  #           voting: 
  #            name: name of product
  #            bugs: list of bugs the user has voted for
  #            onevoteonly: one or more votes allowed per bug?
  #            total: users current vote count for the product
  #            maxvotes: max votes allowed for a user in this product
  #            maxperbug: max votes per bug allowed for a user in this product
  #
  # bug_id: number; if the user is voting for a bug, this is the bug id
  #
  # canedit: boolean; Should the votes be presented in a form, or readonly? 
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF !header_done %]
  [% subheader = voting_user.login FILTER html %]
  [% IF canedit %]
    [% title = "投票变更" %]
    [% IF bug_id %]
      [%# We .select and .focus the input so it works for textbox and 
          checkbox %]
      [% onload = "document.forms['voting_form'].bug_" _ bug_id _
                  ".select();document.forms['voting_form'].bug_" _ bug_id _
                  ".focus()" %]
    [% END %]
  [% ELSE %]
    [% title = "显示投票" %]
  [% END %]
  [% PROCESS global/header.html.tmpl
             style_urls = [ "skins/standard/voting.css" ] 
  %]
[% ELSE %]
  <hr>
[% END %]

[% IF votes_recorded %]
  <p>
    <font color="red">
      您的投票修改已被保存。
    </font>
  </p>
[% ELSE %]
  <br>
[% END %]

[% IF products.size %]
  <form name="voting_form" method="post" action="votes.cgi">
    <input type="hidden" name="action" value="vote">
    <table cellspacing="4">
      <tr>
        <td></td>
        <th>票数</th>
        <th>[% terms.Bug %] #</th>
        <th>摘要</th>
      </tr>

      [% onevoteproduct = 0 %]
      [% multivoteproduct = 0 %]
      [% FOREACH product = products %]
        [% IF product.onevoteonly %]
          [% onevoteproduct = 1 %]
        [% ELSE %]
          [% multivoteproduct = 1 %]
        [% END %]
        <tr>
          <th>[% product.name FILTER html %]</th>
          <td colspan="2" ><a href="buglist.cgi?bug_id=
              [%- product.bug_ids.join(",") FILTER url_quote %]">([% terms.bug %] list)</a>
          </td>
          <td>
            [% IF product.maxperbug < product.maxvotes AND
                  product.maxperbug > 1 %]
              <font size="-1">
                (注：该产品中每个[% terms.bug %]的最大允许票数为[% product.maxperbug %]票)
              </font>
            [% END %]
          </td>
        </tr>

        [% FOREACH bug = product.bugs %]
          <tr [% IF bug.id == bug_id && canedit %] 
            class="bz_bug_being_voted_on" [% END %]>
            <td>[% IF bug.id == bug_id && canedit %]在此处输入新投票 &rarr;
              [%- END %]</td>
            <td align="right"><a name="vote_[% bug.id %]">
              [% IF canedit %]
                [% IF product.onevoteonly %]
                  <input type="checkbox" name="[% bug.id %]" value="1"
                    [% " checked" IF bug.count %] id="bug_[% bug.id %]">
                [% ELSE %]
                  <input name="[% bug.id %]" value="[% bug.count %]"
                         size="2" id="bug_[% bug.id %]">
                [% END %]
              [% ELSE %]
                [% bug.count %]
              [% END %]
            </a></td>
            <td align="center">
              [% bug.id FILTER bug_link(bug.id) FILTER none %]
            </td>
            <td>
              [% bug.summary FILTER html %]
              (<a href="votes.cgi?action=show_bug&amp;bug_id=[% bug.id %]">投票者</a>)
            </td>
          </tr>
        [% END %]

        <tr>
          <td></td>
          <td colspan="3">[% product.total %]
            [% product.total %] 个票数已使用；总共允许票数为 [% product.maxvotes %]。
            <br>
            <br>
          </td>
        </tr>
      [% END %]
    </table>

    [% IF canedit %]
      <input type="submit" value="改变我的投票" id="change"> 或者
      <a href="buglist.cgi?bug_id=[% all_bug_ids.join(",") FILTER url_quote %]">查看所有
        as [% terms.bug %] list</a>
      <br>
      <br>
      要想改变投票，
      [% IF multivoteproduct %]
        请输入新票数 ("0" 表示没有票)
        [% " or " IF onevoteproduct %]
      [% END %]
      [% IF onevoteproduct %]
        改变复选框选项
      [% END %]
      然后点击 <b>改变我的投票</b>。
    [% ELSE %]
       <a href="buglist.cgi?bug_id=[% all_bug_ids.join(",") FILTER url_quote %]">查看所有
         as [% terms.bug %] list</a>
    [% END %]
  </form>
[% ELSE %]
  <p>
    [% IF canedit %]
    您
    [% ELSE %]
    此用户
    [% END %]
    当前没有给任何[% terms.bugs %]投票。
  </p>
[% END %]

<p>
  <a href="page.cgi?id=voting.html">查看关于投票的帮助</a>
</p>

[% PROCESS global/footer.html.tmpl %]
