[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]
[%
   title = "管理方针"
   desc = "设置管理方针"
%]

[% param_descs = {
  allowbugdeletion => "允许删除$terms.bug。<br/>如果将此选项设备为“开”，那么当您在编辑产品和模块的页面删除某个产品或组件时，" _
                      "将删除所有与之相关的$terms.bugs。",

  allowemailchange => "允许改变电子邮件。<br/>用户可以在“个人设置”页面改变自己的 email 地址。" _
                      "注意：此将会给更改前和更改后的 email 地址发邮件来确认更改完成。" _
                      "所以设置此参数为“开”不会造成用户使用无效的 email 地址。",

  allowuserdeletion => "允许删除用户。<br/>如果将此选项设置为“开”，那么用户编辑页面允许您删除用户帐号。" _
                       "$terms.Bugzilla 将会在您删除用户帐号时给出警告。",

  supportwatchers => "允许用户观察。<br/>如果此选项设置为“开”，则用户可以观察其它用户的${terms.bugs}(如获取相关Email通知)。 " _
                     "QA可以用来观察特定开发者的${terms.bugs}。" }
%]