[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]
[%
   title = "附件管理"
   desc = "设置附件选项"
%]

[% param_descs = {
  allow_attachment_deletion => "允许附件删除。<br/>" _
  										"如果此参数设置为开，管理员将可以删除附件的内容。",

  allow_attach_url => "允许附件链接。<br/>" _
                      "如果此参数设置为开，创建附件时将可以指定一个链接，" _
                      "并将链接本身作为附件",

  maxpatchsize => "最大补丁大小。<br/>" _
                  "补丁的最大大小(KB)。$terms.Bugzilla 不会允许超过此大小的附件补丁" _
                  "要取消此限制设置此项值为0",

  maxattachmentsize => "最大附件大小。<br/>" _
                       "非补丁附件的最大大小(KB)。$terms.Bugzilla 不会允许超过此大小的附件。" _
                       "要取消此限制设置此项值为0",

  maxlocalattachment => "最大本地附件大小<br/>The maximum size (in megabytes) of attachments identified by " _
                        "要保存在服务器本地(不放入数据库中)的附件的最大大小(MB)。" _
                        "如果设置为0，附件将不会保存在本地文件系统中。",

  convert_uncompressed_images => "转换没有压缩的图像<br/>" _
                                 "如果此项参数设置为开，bmp 格式的图像将会转换成 png 格式保存以节省磁盘空间。" }
%]
