[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "依赖图"
   desc = "设置生成依赖图的选项"
%]

[% param_descs = {
  webdotbase => "${terms.Bugzilla}可以生成${terms.bugs}的依赖图表。
                 可以有以下三种设置方式：
                 <ul>
                   <li>
                     输入'dot.exe'（<a href=\"http://www.graphviz.org\">GraphViz</a>程序的附带组件）的绝对路径
                      可以在
                     本地服务器生成图片。
                   </li>
                   <li>
                     指向
                     <a href=\"http://www.research.att.com/~north/cgi-bin/webdot.cgi\">webdot
                     package</a>的网址URL可以远程生成图片。
                   </li>
                   <li>
                     留空，禁用此功能。
                   </li>
                 </ul>
                 默认值是一个可以供公共访问的webdot服务器地址。 变更此参数需要确定
                 webdot server可以从你的服务器读取webdoc目录。
                 Apache服务器可以编辑.htaccess来保证访问，
                 其他类型服务器可能设置方式不同。通过运行checksetup.pl
                 可以重新生成.htaccess文件"}
%]