[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Marc Schumann.
  # Portions created by Marc Schumann are Copyright (c) 2007 Marc Schumann.
  # All rights reserved.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  # Localization : Immer.ma <immer.ma@gmail.com>
  #%]
[%
   title = "RADIUS 协议"
   desc = "如果选择RADIUS协议作为安全认证的方式，请首先配置此页"
%]

[% param_descs = {
  RADIUS_server => "RADIUS 服务器名(端口可选)" _
                   "( 例如 : <code>radius.company.com</code>，或者 " _
                   "<code>radius.company.com:portnum</code>)。<br>" _
                   "只有当参数" _
                   "<a href=\"?section=auth#user_verify_class\"> " _
                   "<code>user_verify_class</code> </a> 中包含了 " _
                   "<code>RADIUS</code>时才需要设置该项。",

  RADIUS_secret => "RADIUS 服务器密钥。<br>" _
                   "只有当参数" _
                   "<a href=\"?section=auth#user_verify_class\"> " _
                   "<code>user_verify_class</code> </a> 中包含了 " _
                   "<code>RADIUS</code>时才需要设置该项。",

  RADIUS_NAS_IP => "NAS-IP-Address属性，该属性将用于和RADIUS服务器进行数据交换。" _
                   "如果没有指定，将使用<code>127.0.0.1</code>。<br>" _
                   "只有当参数" _
                   "<a href=\"?section=auth#user_verify_class\"> " _
                   "<code>user_verify_class</code> </a> 中包含了 " _
                   "<code>RADIUS</code>时该项设置才有效。",


  RADIUS_email_suffix => "将RADIUS用户名扩展为email地址的后缀。<br>" _
                   "只有当参数" _
                   "<a href=\"?section=auth#user_verify_class\"> " _
                   "<code>user_verify_class</code> </a> 中包含了 " _
                   "<code>RADIUS</code>时该项设置才有效。",
  }
%]
