[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Vera Horiuchi
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% INCLUDE global/header.html.tmpl title = "$terms.Bug Writing Guidelines" %]

  <p>有效的报告有助于修复[% terms.bug %]。
  本文旨在提供撰写有效事件报告的简短教程。

<h3>原则</h3>

  <ul>
    <li>精确的</li>
    <li>清晰的 - 清楚的说明过程以便于其他人可以重现这个 [% terms.bug %]</li>
    <li>一个 [% terms.bug %] 一个报告</li>
    <li>没有一个[% terms.bug %]是微不足到而不用提交-
    小 [% terms.bugs %] 往往是大 [% terms.bugs %]的先兆。</li>
    <li>Clearly separate fact from speculation</li>
  </ul>

<h3>准备工作</h3>

<ol>
  <li>使用最新构建(build)的软件重现你的[% terms.bug %]
  ，检查它是否已经被修复。
  </li>

  <li><a href="query.cgi?format=specific">Search</a> 
  [% terms.Bugzilla %]，以检查你的[% terms.bug %]是否
已经报告过了。</li>
</ol>

<h3>报告一个新[% terms.Bug %]</h3>

<p>如果在最新构建的软件中重现了这个[% terms.bug %]而且 
也没有人提交过，那么：</p>

<ol>
 <li>选择
 "<a href="enter_bug.cgi">提交新 [% terms.bug %]</a>"</li>
 <li>选择您发现该缺陷[% terms.bug %]的产品</li>
 <li>填写表单。这里是一些帮助:</li>
</ol>

  <blockquote>
    <p><b>组件：</b>在软件的哪个组件发现的？
          的？<br>
   必填字段。
    点击"组件（Component）"查看每个组件（Componet）的描述。 
    如果没有一个是恰当，那么选择一个“一般(General)”组件（Component）。 </p>

    <p><b>操作系统(OS):</b> 在那个操作系统上发现
         的？
    （例如 Linux，Windows XP，Mac OS X。）<br>
   如果你知道出现该[% terms.bug %]的，是一个以上的
    操作系统, 那么选择"所有（All）". 
    如果列表没有列出所需操作系统，那么选择其他（Other）。</p>

    <p><b>摘要：</b> 该如何形容这个[% terms.bug %]，大约 
   60个字，还是更少？<br>
   一个很好的摘要应当能<b>快速、准确、唯一地表示出该[% terms.abug %]
    </b>。它应该解释清楚的发生的问题，而不是建议的解决方案。 <br>
    <ul>
     <li>好：“<tt>取消文件复制对话的时候文件管理器
    崩溃。</tt>”</li>
     <li>不好：“<tt>软件崩溃</tt>”</li>
     <li>不好：“<tt>浏览器应该能打开我的站点</tt>”</li>
    </ul>
    
    <b>描述： </b>
 　　您报告的问题的详情，其中包括：</p>

    <blockquote>
      <p><b>概况：</b> 更详细的重述
      总结。</p>

      <blockquote>
<pre>
从NSGetFactory功能提供的错误信息复制出来，使得Mac崩溃的任何页面的信息
</pre>
      </blockquote>

      <p><b>重现问题的步骤：</b>
     触发[% terms.bug %]的最为简洁的，易于遵循的步骤。包括任何特殊的前置安装步骤。</p>

      <blockquote>
<pre>
1) 打开随便一个网页。 （我使用了默认的示例页面，
resource:/res/samples/test0.html）

2) 拖放选择页。（具体来说，按住鼠标键的同时 
，移动鼠标指针
从浏览器的内容区域上部向下，
到内容区域的底部。）
</pre>
      </blockquote>

      <p><b>实际结果：</b> 作了以上事情以后，应用程序有什么反应。
      应用程序有什么反应。</p>

      <blockquote>
<pre>
应用崩溃。 
</pre>
      </blockquote>

      <p><b>预期结果：</b>没有该[% terms.bug %] 的时候，
      应用程序应该有什么样的动作。</p>

      <blockquote>
<pre>
窗口应该向下滚动。滚动的内容应被选中
（或者，至少，应用不应该崩溃。 ） 
</pre>
      </blockquote>

      <p><b>构建（Build）日期和平台：</b> 
     您第一次遇到该[% terms.bug %]时的软件构建日期和平台。</p>

      <blockquote>
<pre>
Build 2006-08-10 on Mac OS 10.4.3
</pre>
      </blockquote>

      <p><b>其它版本和平台：</b>该
      [% terms.bug %]是否在其它平台或浏览器
      中发生。</p>

      <blockquote>
<pre>
在Build 2006-08-10 Windows XP Home (Service Pack 2)中不会出现。
</pre>
      </blockquote>

      <p><b>附加信息：</b>任何其他有用的信息。 
      <br><br>针对崩溃型的[% terms.bugs %]:</p>

      <ul>
        <li><b>Windows:</b> 注意崩溃的类型，
        和发生崩溃的模块(例如： access violation in apprunner.exe).</li>

        <li><b>Mac OS X:</b> 附上崩溃发生时候的"崩溃报告（Crash Reporter）"日志
        。
        只需要包含crashing thread下面的一块内容，通常
        标题是“Thread 0 Crashed”。请不要包含整个日志！</li>
      </ul>
    </blockquote>

  <p>复查输入中任何可能的错误，然后按“提交(Commit)”。
  你的[% terms.bug %]报告便会进入 
  [% terms.Bugzilla %]的数据库。<br>
  </p>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
