[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #   Localization: CNBorn <CNBorn@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% PROCESS "global/field-descs.none.tmpl" %]
[% INCLUDE global/header.html.tmpl title = "一个 $terms.Bug 的处理流程" %]

<p>
<b>状态（status）</b>和<b>解决（resolution）</b>字段用来定义和跟踪
[% terms.abug %]的处理流程。  
</p>

<a name="status"></a>
<a name="resolution"></a>

<table border="1" cellpadding="4">
  <tr align="center" valign="top">
    <td width="50%">
      <h1>状态（STATUS）</h1>
    </td>

    <td>
      <h1>解决（RESOLUTION）</h1>
    </td>
  </tr>

  <tr valign="top">
    <td><b>状态（status）</b>字段标示出了 
    [% terms.bug %] 现在的状况。只有合适的状态才被允许。</td>

    <td>The <b>解决方式（resolution）</b>字段指示了这个
    [%+ terms.bug %]发生了的变化。</td>
  </tr>

  <tr valign="top">
    <td>
      <dl>
        <dt>
          <b>[% get_status("UNCONFIRMED") FILTER html %]</b>
        </dt>
        <dd>
          这个[% terms.bug %]刚刚加入到数据库中。
          还没有人验证这个[% terms.bug %]是否真的存在。
          有“确认（canconfirm）“权限的用户可通过更改其状态为[% get_status("NEW") FILTER html %]
		  来确认该[% terms.bug %]。或者通过更改状态为[% get_status("RESOLVED") FILTER html %]。直接修复该[% terms.bug %]。          
        </dd>

        <dt>
          <b>[% get_status("NEW") FILTER html %]</b>
        </dt>
        <dd>
          该 [% terms.bug %] 最近被添加到指定人的
          [% terms.bugs %] 列表中，需要进行处理。在此状态的[% terms.Bugs %]
          或许已被接受，可通过更改状态为 <b>[% get_status("ASSIGNED") FILTER html %]</b> 交由
          他人进行处理。或保持 <b>[% get_status("NEW") FILTER html %]</b> 状态，或者更改状态为
          <b>[% get_status("RESOLVED") FILTER html %]</b>来解决这个[% terms.bug %]
        </dd>

        <dt>
          <b>[% get_status("ASSIGNED") FILTER html %]</b>
        </dt>
        <dd>
          该 [% terms.bug %] 仍未被解决，但已经被指定给相关责任人进行解决 
          。从此过程开始该 [% terms.bugs %] 可交由其他人。 
          状态可变更为 <b>[% get_status("NEW") FILTER html %]</b> 或者
          <b>[% get_status("RESOLVED") FILTER html %]</b>.
        </dd>

        <dt>
          <b>[% get_status("REOPENED") FILTER html %]</b>
        </dt>
        <dd>
          该 [% terms.bug %] 曾被解决过，但其解决方案被认为无效。 
          举例来说，一个<b>[% get_resolution("WORKSFORME") FILTER html %]</b> [% terms.bug %] 被
          <b>[% get_status("REOPENED") FILTER html %]</b> 时，更多信息表明此问题仍可
          重现此 [% terms.bug %]。 从此状态起该 [% terms.bugs %] 只能被标识为
          <b>[% get_status("ASSIGNED") FILTER html %]</b> 或者
          <b>[% get_status("RESOLVED") FILTER html %]</b>。
        </dd>
      </dl>
    </td>

    <td>
      <dl>
        <dd>
          所有尚无解决方案的 [% terms.bugs %] 均保持为 
          以上“开放”状态中的一种，同时解决方案为空。 
          其余类别的[% terms.bugs %]状态为以下所示的类型之一。         
        </dd>
      </dl>
    </td>
  </tr>

  <tr valign="top">
    <td>
      <dl>
        <dt>
          <b>[% get_status("RESOLVED") FILTER html %]</b>
        </dt>
        <dd>
          已采取一种解决方案，同时该方案在等待QA的验证。
          从此过程开始 [% terms.bugs %] 可以被设置为 
          <b>[% get_status("REOPENED") FILTER html %]</b> 重新开启，或被设置为
          <b>[% get_status("VERIFIED") FILTER html %]</b> 已验证，或
          通过设置为 <b>[% get_status("CLOSED") FILTER html %]</b>来完结此 [% terms.bug %]
        </dd>

        <dt>
          <b>[% get_status("VERIFIED") FILTER html %]</b>
        </dt>
        <dd>
          QA 已对针对该 [% terms.bug %] 的解决方案进行验证，并 
          确定针对该问题实施了最佳的解决方案。 [% terms.Bugs %] 将
		  保持此状态直到确保此问题在产品交付时不再出现。
          在交付时该[% terms.bug %]的状态将设置为
          <b>[% get_status("CLOSED") FILTER html %]</b>.
        </dd>

        <dt>
          <b>[% get_status("CLOSED") FILTER html %]</b>
        </dt>
        <dd>
          该[% terms.bug %]的解决方案正确，被认定完结。 
          一旦该[% terms.bugs %]有任何死灰复燃的迹象出现， 
          需将状态设置为 <b>[% get_status("REOPENED") FILTER html %]</b>.
        </dd>
      </dl>
    </td>

    <td>
      <dl>
        <dt>
          <b>[% get_resolution("FIXED") FILTER html %]</b>
        </dt>
        <dd>
          对此[% terms.bug %]的修复已被添加到树中并经过测试。
        </dd>

        <dt>
          <b>[% get_resolution("INVALID") FILTER html %]</b>
        </dt>
        <dd>
          所描述的情况不算是[% terms.abug %]。
        </dd>

        <dt>
          <b>[% get_resolution("WONTFIX") FILTER html %]</b>
        </dt>
        <dd>
          该 [% terms.bug %] 所描述的情况不可能得到修复。
        </dd>

        <dt>
         <b>[% get_resolution("DUPLICATE") FILTER html %]</b>
        </dt>
        <dd>
          所描述的[% terms.bug %]和已有的一个[% terms.bug %]相同。
          要标记[% terms.abug %] 与其他 [% terms.bug %] 相同，需要该 [% terms.bug %]的编号          
          并将其放入说明字段中。
        </dd>

        <dt>
          <b>[% get_resolution("WORKSFORME") FILTER html %]</b>
        </dt>
        <dd>
          所有尝试重现此 [% terms.bug %] 的手段均告无效， 
          阅读代码也无法解释此问题如何发生。
          如日后有更多信息，
          此 [% terms.bug %] 可被重新开启。
        </dd>

        <dt>
          <b>[% get_resolution("MOVED") FILTER html %]</b>
        </dt>
        <dd>
          该[% terms.bug %]所对应的产品属于其他[% terms.bug %] 数据库， 
          该[% terms.bug %]已被转移到该数据库。
        </dd>
      </dl>
    </td>
  </tr>
</table>

<h2><a name="importance">Importance</h2>
The importance of [% terms.abug %] is described as the combination of
its <a href="#priority">priority</a> and <a href="#bug_severity">severity</a>,
as described below.

<h2><a name="priority">Priority</a></h2>
This field describes the importance and order in which [% terms.abug %]
should be fixed. This field is utilized by the
programmers/engineers to prioritize their work to be done. The
available priorities range from <b>P1</b> (most important) to
<b>P5</b> (least important).
<h2><a name="bug_severity">Severity</a></h2>
This field describes the impact of [% terms.abug %]. 

<table>
  <tr>
    <th>Blocker</th>

    <td>Blocks development and/or testing work</td>
  </tr>

  <tr>
    <th>Critical</th>

    <td>crashes, loss of data, severe memory leak</td>
  </tr>

  <tr>
    <th>Major</th>

    <td>major loss of function</td>
  </tr>

  <tr>
    <th>Normal</th>

    <td>regular issue, some loss of functionality under specific circumstances</td>
  </tr>


  <tr>
    <th>Minor</th>

    <td>minor loss of function, or other problem where easy
    workaround is present</td>
  </tr>

  <tr>
    <th>Trivial</th>

    <td>cosmetic problem like misspelled words or misaligned
    text</td>
  </tr>

  <tr>
    <th>Enhancement</th>

    <td>Request for enhancement</td>
</table>

<h2><a name="rep_platform">Platform</a></h2>
This is the hardware platform against which the [% terms.bug %] was
reported. Legal platforms include: 

<ul>
  <li>All (happens on all platforms; cross-platform [% terms.bug %])</li>

  <li>Macintosh</li>

  <li>PC</li>
</ul>
<b>Note:</b> When searching, selecting the option "All" does not 
select [% terms.bugs %]
assigned against any platform. It merely selects [% terms.bugs %] that are
marked as occurring on all platforms, i.e. are designated "All". 

<h2><a name="op_sys">Operating System</a></h2>
This is the operating system against which the [% terms.bug %] was
reported. Legal operating systems include: 

<ul>
  <li>All (happens on all operating systems; cross-platform
  [% terms.bug %])</li>

  <li>Windows</li>

  <li>Mac OS</li>

  <li>Linux</li>
</ul>
Sometimes the operating system implies the platform, but not
always. For example, Linux can run on PC and Macintosh and
others. 

<h2><a name="assigned_to">Assigned To</a></h2>

<p>
This is the person in charge of resolving the [% terms.bug %]. Every time
this field changes, the status changes to <b>[% get_status("NEW") FILTER html %]</b> to make it
easy to see which new [% terms.bugs %] have appeared on a person's list.</p>

<p>
The default status for queries is set to [% get_status("NEW") FILTER html %],
[%+ get_status("ASSIGNED") FILTER html %] and [% get_status("REOPENED") FILTER html %].
When searching for [% terms.bugs %] that have been resolved or
verified, remember to set the status field appropriately. 
</p>

[% INCLUDE global/footer.html.tmpl %]
