[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # token_ts: creation date of the token.
  # email: email address of the new account.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% expiration_ts = token_ts + (constants.MAX_TOKEN_AGE * 86400) %]
From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: 确认创建帐号
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] 已经收到使用 Email 地址([% email %])创建您的帐号的请求。

要继续使用此 Email 地址完成帐号创建，请在
[%+ time2str("%B %o, %Y at %H:%M %Z", expiration_ts) %]
前访问以下链接：

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=request_new_account

如果您在 [%+ time2str("%B %o, %Y at %H:%M %Z", expiration_ts) %] 之前还没有收到此邮件，
或您希望用其它 Email 地址创建帐号，您可以转到：

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
  <b>隐私说明：</b> [% terms.Bugzilla %] 是一个开放的 [% terms.bug %]
  跟踪系统，大部分 [% terms.bugs %] 的内容（包含邮件地址），
  对所有人都是公开的。<b>强烈建议</b>您使用备用帐号或免费的邮件服务
  (如 Gmail, Yahoo,  Hotmail, 等) 以避免接收到垃圾邮件。
[% END %]

如果您不想创建帐号，或此请求是错误发出的，
您可以不作处理或访问以下链接：

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cancel_new_account

如果上述链接不起作用，或您还有其它有关您帐号的问题，
请联系管理员 [% Param('maintainer') %]。
