[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Localization: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  # product : Bugzilla::Product Object; new product.
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  # changes: hashref with all changes made to the product. Each key is an edited field,
  #          and its value is an arrayref of the form [old values, new values].
  #%]

[% IF classification %]
  [% classification_text = BLOCK %]
    of classification '[% classification.name FILTER html %]'
  [% END %]
[% END %]

[% title = BLOCK %]Updating Product '[% product.name FILTER html %]' 
                   [% classification_text FILTER none %][% END %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% IF changes.name.defined %]
  <p>
    产品名称由 '[% changes.name.0 FILTER html %]' 更新为
  '<a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER url_quote %]">[% product.name FILTER html %]</a>'.
  </p>
[% END %]


[% IF changes.description.defined %]
  <p>
    产品描述更新为
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
[% END %]

[% IF changes.disallownew.defined %]
  <p>
  产品现在
  [% IF product.disallow_new %]
    不允许
  [% ELSE %]
    允许 
  [% END %]
  提交新[% terms.bugs %]。
  </p>
[% END %]

[% IF changes.milestoneurl.defined %]
  <p>
  里程碑 URL 
  [% IF changes.milestoneurl.0 != '' %]
    从<br> <a href="[%- changes.milestoneurl.0 FILTER html %]">
    [%- changes.milestoneurl.0 FILTER html %]</a>
  [% END %]
  更新为
  [% IF product.milestone_url != '' %]
     <br><a href="[%- product.milestone_url FILTER html %]">
     [%- product.milestone_url FILTER html %]</a>.
  [% ELSE %]
    空.
  [% END %]
  </p>
[% END %]

[% IF changes.defaultmilestone.defined %]
  <p>
    默认里程碑从 '[% changes.defaultmilestone.0 FILTER html %]' 更新为
  '[% product.default_milestone FILTER html %]'.
  </p>
[% END %]
  
[% IF changes.votesperuser.defined %]
  <p>
  每用户投票数从
  [%+ changes.votesperuser.0 FILTER html %] 更新为
  [%+ product.votes_per_user FILTER html %].
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF changes.maxvotesperbug.defined %]
  <p>
  每个[% terms.bug %]最大投票数从
  [%+ changes.maxvotesperbug.0 FILTER html %] 更新为
  [%+ product.max_votes_per_bug FILTER html %].
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF changes.votestoconfirm.defined %]
  <p>
  确认一个[% terms.bug %]所需要的投票从
  [%+ changes.votestoconfirm.0 FILTER html %] 更新为
  [%+ product.votes_to_confirm FILTER html %].
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF !changes.keys.size %]
  <p>产品 '[% product.name FILTER html %]' 没有作任何修改.</p>
[% END %]

[%# Note that this display of changed votes and/or confirmed bugs is
    not very scalable. We could have a _lot_, and we just list them all.
    One day we should limit this perhaps, or have a more scalable display %]


[% IF checkvotes %]
  <hr>

  <p>正在检查在此产品中向一个[% terms.abug %]投票很多张的用户...<br>
  [% IF changes.too_many_votes.size %]
    [% FOREACH detail = changes.too_many_votes %]
      &rarr;removed votes for [% terms.bug %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> from [% detail.name FILTER html %]<br>
    [% END %]
  [% ELSE %]
    &rarr;there were none.
  [% END %]
  </p>

  <p>正在检查在此产品中投票很多张的用户...<br>
  [% IF changes.too_many_total_votes.size %]
    [% FOREACH detail = changes.too_many_total_votes %]
      &rarr;removed votes for [% terms.bug %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> from [% detail.name FILTER html %]<br>
    [% END %]
  [% ELSE %]
    &rarr;there were none.
  [% END %]
  </p>

  <p>正在检查此产品中投过票但没有确认的[% terms.bugs %]...<br>
  [% IF changes.confirmed_bugs.size %]
    [% FOREACH id = changes.confirmed_bugs %]

      [%# This is INCLUDED instead of PROCESSED to avoid variables getting
          overwritten, which happens otherwise %]
      [% INCLUDE bug/process/results.html.tmpl
        type = 'votes'
        mailrecipients = { 'changer' => user.login }
        header_done = 1
        id = id
      %]
    [% END %]
  [% ELSE %]
    &rarr;there were none.
  [% END %]
  </p>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
