[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component the
  #               user deleted.
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]
  
[% title = BLOCK %]从产品 '[% product.name FILTER html %]' 中删除模块 '[% comp.name FILTER html %]'
                   [% END %]
[% PROCESS global/header.html.tmpl
  title = title
%]

<p>
[% IF comp.bug_count %]
  [% comp.bug_count FILTER none %]
  [%- IF comp.bug_count > 1 %] 
    [%+ terms.bugs %]
  [% ELSE %]
    [%+ terms.bug %]
  [% END %]
  已删除。
  </p><p>
  所有涉及这此删除的[% terms.bugs %]的引用已经被移除。
[% ELSE %]
  此模块没有[% terms.bugs %]存在。
[% END %]
</p>

<p>Flag inclusions and exclusions deleted.</p>

<p>模块 '[% comp.name FILTER html %]' 已经被删除。</p>

[% PROCESS admin/components/footer.html.tmpl
  no_edit_component_link = 1
 %]

[% PROCESS global/footer.html.tmpl %]
