[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "${terms.Bug}字段"
   desc = "设置需要显示的字段"
%]

[% param_descs = {
  useclassification => "启用后, $terms.Bugzilla 可以对产品进行分类" _
                       "。但是你需要有'editclassification' " _
                       "权限来编辑分类。",

  showallproducts => "如果与useclassification同时启用，${terms.Bugzilla}会在" _
                     "'新$terms.Bug'页面添加一个'All' 链接用来显示所有存在的产品。",

  usetargetmilestone => "开启目标里程碑?",

  useqacontact => "开启QA联系人字段？",

  usestatuswhiteboard => "开启状态白板字段",

  usevotes => "允许用户对${terms.bugs}投票。启用该特性需要" _
              "设置产品的最大允许投票数量为大于0的数字 " _
              " " _
              "<a href=\"editproducts.cgi\">编辑产品</a>.",

  usebugaliases => "启用${terms.bug}别名支持，可以给" _
                   "${terms.bugs}起一个好记的名字来访问它。",

  defaultpriority => "设置新${terms.bugs}的默认优先级。",

  defaultseverity => "设置填写新${terms.bugs}时的默认严重程度。",

  defaultplatform => "填写新${terms.bug}时的默认平台 " _
                     "。<br> " _
                     "如果留空 " _
                     "${terms.Bugzilla}会根据浏览器运行环境自动选择 " _
                     "。",

  defaultopsys => "提交新${terms.bug}时默认的操作系统。 " _
                  "。<br> " _
                  "如果留空 " _
                  "${terms.Bugzilla}会根据浏览器运行环境自动选择" _
                     "。 " }
%]