[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Fr茅d茅ric Buclin <LpSolit@gmail.com>
  #   Localization: CNBorn <CNBorn@gmail.com>
  #%]
[%
   title = "组安全设置"
   desc = "设置组安全设置"
%]

[% param_descs = {
  makeproductgroups => "如果此选项开启, $terms.Bugzilla 将 $terms.abug 群组 " _
                       "和数据库中的每个产品相关联，日后可用于查询 ${terms.bugs}.",

  useentrygroupdefault => "如果此选项开启, $terms.Bugzilla 将默认启用 $terms.bug 群组 " _
                          "来限制用户提交 ${terms.bugs}. 如果此项保持开启, " _
                          "用户只能在搜索界面里看到它们具有搜索权限的产品. " _
                          "如果此选项关闭，用户则能看到所有产品，不受任何限制 ",

  chartgroup => "可使用“新建图表”功能的用户组 " _
                "管理员需要确保公开的分类及系列信息不会泄露机密信息 " _
                "以防止选择此项后信息落入不可信任的用户手中。" _
                "如果此项保持为空，则没有用户可以使用新建图标功能。",

  insidergroup => "可查看并改变私人评论及附件的组：",

  timetrackinggroup => "可查看并改变最后期限设置的组",

  querysharegroup => "可与其它用户共享其保存搜索的组",

  usevisibilitygroups => "是否为每个组的成员列表提供显示/隐藏的选项？",
  
  strict_isolation => "不允许用户成为他无权编辑产品的 $terms.bug" _
                      "的指定人、" _
                      "QA联系人、CC" _
                      "、或指定相关问题的依赖。",
 }
%]
