[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  # Localization : Immer Ma <immer.ma@gmail.com>
  #%]

[%
   title = "用户匹配"
   desc = "设置您的用户匹配策略"
%]

[% param_descs = {
  usemenuforusers => "如果设置了该项，当需要选择用户时，$terms.Bugzilla 会采用列表方式 " _
                     "，而不是文本输入框方式供您选择。" _
                     "如果您的站点用户很多，请不要选中该项配置。",

  usermatchmode => "在输入或编辑${terms.bugs}过程中，输入用户名时允许的匹配字符串。<br>" _
                   "- 'off' ：禁止匹配；<br> " _
                   "- 'wildcard' ：只允许通配符；<br> " _
                   "- 'search' ：允许通配符和子字符串匹配。",

  maxusermatches => "搜索的最多匹配个数。<br> " _
                    "- 设置为'1'，则对于模糊匹配不显示任何结果。" _
                    "这样可用于保护用户隐私。<br> " _
                    "- 设置为'0'，则表示没有限制。",

  confirmuniqueusermatch => "当查询结果只有一个匹配用户时是否显示确认界面。" }
%]
