[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  # Localiztion: jiangyanfeng <jiangyanfeng@gmail.com>
  #%]

[%# INTERFACE:
  # attachment: object of the attachment just created.
  # contenttypemethod: string. How we got the content type of the attachment.
  #  Possible values: autodetect, list, manual.
  #%]

[% PROCESS global/variables.none.tmpl %]
[% bug = bugs.0 %]
[% bodyclasses = ['bz_bug',
                 "bz_status_$bug.bug_status",
                 "bz_component_$bug.component",
                 "bz_bug_$bug.bug_id"
                 ]
%]
[% FOREACH group = bug.groups_in %]
  [% bodyclasses.push("bz_group_$group.name") %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = "更改已提交"
  javascript_urls = [ "js/util.js", "js/field.js",
                      "js/yui/yahoo-dom-event.js", "js/yui/calendar.js" ]
  style_urls = [ "skins/standard/yui/calendar.css", "skins/standard/show_bug.css" ]
  doc_section = "bug_page.html"
%]

<dl>
  <dt>
    [% "$terms.bug $attachment.bug_id" FILTER bug_link(attachment.bug_id) FILTER none %]
    的
    <a title="[% attachment.description FILTER html %]"
       href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">附件 #[% attachment.id %]</a>
    已创建。
  </dt>
  <dd>
    [% PROCESS "bug/process/bugmail.html.tmpl" mailing_bugid = attachment.bug_id %]
    [% IF convertedbmp %]
      <p>
        <b>注意：</b> [% terms.Bugzilla %] 会自动地将您上传的 BMP 图片文件转换成压缩的 PNG 格式。
      </p>
    [% END %]
    [% IF contenttypemethod == 'autodetect' %]
      <p>
        <b>注意：</b> [% terms.Bugzilla %] 自动地检测到您的附件类型为
        <em>[% attachment.contenttype FILTER html %]</em> 
        如果自动检测结果不对，请编辑附件
        <a href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">详细信息</a>中的对应值。
      </p>
    [% END %]

    [%# Links to more information about the changed bug. %]
    [% Hook.process("links") %]
  </dd>
</dl>

<p>
<a href="attachment.cgi?bugid=[% attachment.bug_id %]&amp;action=enter">为[% terms.Bug %] #[% attachment.bug_id %]再创建一个附件</a>
</p>

[% PROCESS bug/show.html.tmpl %]
